.Rafi:hover{
    color: rgb(39, 26, 217);
        background-color: blanchedalmond;
        padding: 10px;
        text-align: center;
}
li:first-child{
    color: rgb(195, 9, 31);
}
li:last-child{
    color: blue;
}